#pages_terms {
  font-family: "游明朝", "Yu Mincho", "YuMincho", "Shippori Mincho", serif;
  line-height: 1.8;
}

@media screen and (min-width: 310px){
  .site-text-l{
    font-size: 20px;
    flex-grow: 1;
  }
}

@media screen and (max-width: 309px){
  .site-text-l{
    font-size: 17px;
    flex-grow: 1;
  }
}

@media screen and (min-width: 992px){
  #heromod .hero-section.inner-page {
    height: 200px;
    background: rgb(113 113 109 / 30%);
  }
}

@media screen and (max-width: 991px){
#heromod .hero-section.inner-page {
    height: 120px;
    background: rgb(113 113 109 / 30%);
  }
}

@media screen and (min-width: 992px){
  #heromod .hero-section.inner-page .hero-text h1 {
    margin-top: 122px;
    font-size: 2rem;
  }
}

@media screen and (max-width: 991px){
  #heromod .hero-section.inner-page .hero-text h1 {
    margin-top: 79px;
    font-size: 1.1rem;
  }
}

#heromod .hero-section.inner-page .col-12.hero-text h1{
  text-shadow:
  0px 0px 1px rgb(113 113 109 / 50%),
  0px 0px 2px rgb(113 113 109 / 50%),
  0px 0px 3px rgb(113 113 109 / 50%),
  0px 0px 4px rgb(113 113 109 / 50%),
  0px 0px 5px rgb(113 113 109 / 50%),
  0px 0px 6px rgb(113 113 109 / 50%);
}

@media screen and (min-width: 769px) {
  #terms_area{
    margin: 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  #terms_area{
    margin: 10px 0;
    padding: 10px 8px;
  }
}

@media screen and (min-width: 992px){
  #terms_area{
    background-color: #F0F0E8;
    border-radius: 10px;
  }
}

@media screen and (max-width: 991px){
  #terms_area{
    background-color: #F0F0E8;
    border-radius: 5px;
  }
}

#terms_area p{
  text-indent: 1em;
  margin: 0;
}

#terms_area a{
  text-decoration: none;
  color: #999925;
}

#terms_date p{
  margin: 0em 2em;
  text-align: right;
}

#terms_area h2{
  font-size: 110%;
  margin: 2em 0 1em 0;
}

#terms_area h3{
  font-size: 95%;
  margin: 1.5em 0 0 0;
}

#terms_area ul{
  list-style-type: decimal;
  color: rgb(36, 36, 35);
}

.furtherinfo{
  text-decoration: none !important;
}

.terms a{
  font-size: 16px;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","游ゴシック","Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
  text-decoration: none;
  color: #343a40;
}

.terms a:hover{
  color: #2d71a1;
}

.terms a:active{
  color: #2d71a1;
}

.terms ul{
  display: flex;
}

@media screen and (max-width: 768px) {
  .terms ul{
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) {
  .terms ul{
    flex-direction: row;
  }
}

.terms li {
  display:block;
  text-align: center;
}

@media screen and (min-width: 769px) {
  #privacy{
    flex: 0.9;
  }
  #terms{
    flex: 0.6;
  }
  #notice{
    flex: 1;
  }
}

.bluegreen-link a{
  text-decoration: none !important;
  color: rgb(0, 135, 140);
}
.bluegreen-link a:hover{
  color: rgb(110, 110, 110);
}
.bold {
  font-weight: 700;
}